<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[place]</key>
	<string>e00</string>
	<key>[play]</key>
	<string>e01</string>
	<key>[message]</key>
	<string>e02</string>
	<key>[duration]</key>
	<string>e03</string>
	<key>[education]</key>
	<string>e04</string>
</dict>
</plist>
